topic:- OneHotEncoder, get_dummies()

In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('onedata.xlsx')

In [4]:
df.head()

   buyer  fruits  gender  value
0    ali   apple    male      2
1   noor   mango    male      3
2  wajid  orange  female      4
3  karim  banana    male      4

# Using Pandas

In [7]:
pd.get_dummies(data=df,columns=['buyer','fruits','gender'],dtype=int)

,value,buyer_ali,buyer_karim,buyer_noor,buyer_wajid,fruits_apple,fruits_banana,fruits_mango,fruits_orange,gender_female,gender_male
0,2,1,0,0,0,1,0,0,0,0,1
1,3,0,0,1,0,0,0,1,0,0,1
2,4,0,0,0,1,0,0,0,1,1,0
3,4,0,1,0,0,0,1,0,0,0,1

In [8]:
pd.get_dummies(data=df,columns=['buyer','fruits','gender'],dtype=int, drop_first='first')

,value,buyer_karim,buyer_noor,buyer_wajid,fruits_banana,fruits_mango,fruits_orange,gender_male
0,2,0,0,0,0,0,0,1
1,3,0,1,0,0,1,0,1
2,4,0,0,1,0,0,1,0
3,4,1,0,0,1,0,0,1

# With Skleran OneHotEncoder

when sparse = True, the encoded ouput is returned as a spars matrix, while sparse = False return a dense matrix.

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [23]:
ohe = OneHotEncoder(drop='first', sparse_output=False)

In [24]:
df_trf = ohe.fit_transform(df[['buyer','fruits','gender']])

In [26]:
cols = ohe.get_feature_names_out()

In [27]:
print(cols)

['buyer_karim' 'buyer_noor' 'buyer_wajid' 'fruits_banana' 'fruits_mango'
 'fruits_orange' 'gender_male']

In [29]:
print(df_trf)

[[0. 0. 0. 0. 0. 0. 1.]
 [0. 1. 0. 0. 1. 0. 1.]
 [0. 0. 1. 0. 0. 1. 0.]
 [1. 0. 0. 1. 0. 0. 1.]]

In [30]:
pd.DataFrame(data=df_trf,columns=cols)

,buyer_karim,buyer_noor,buyer_wajid,fruits_banana,fruits_mango,fruits_orange,gender_male
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0